{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'username'
        })  }}
        {{ form_row(registrationForm.email, {
    label: 'mail'
        }) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {{ form_row(registrationForm.team) }}
    {{ form_row(registrationForm.agreeTerms) }}

    {{ form_end(registrationForm) }}

    <button type="submit" class="btn">Register</button>
{% endblock %}
